<?xml version="1.0"?>
<launch>

  <include file="$(find ur_pkg)/launch/real/ur5_bringup_mod.launch" ns="ur5_robot">
  	<arg name="robot_ip" value="192.168.10.101"/>
  	<arg name="reverse_ip" value="192.168.10.105"/>
  	<arg name="reverse_port" value="50001"/>
  	<arg name="script_sender_port" value="50002"/>
	<arg name="trajectory_port" value="50003"/>
	<arg name="tf_prefix" value="ur5_robot"/>
  </include>

  <node name="ur5_robot_tf_world" pkg="tf" type="static_transform_publisher" args="1.7 0 0.635 -1.571 0 0 /world /ur5_robot/base_link 100" />

</launch>
